@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: oklch(var(--bc)) oklch(var(--b1));
  }
  .text-stroke {
    -webkit-text-stroke: 0.5px;
  }
  @media (min-width: 1280px) {
    .text-stroke {
      -webkit-text-stroke: 1px;
    }
  }
  .time-line-container > div:last-child .education__time > .education__line {
    display: none;
  }
}
