---
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="inline opacity-75 text-sm">
    Developed by <a href="https://billyviz.com/" target="_blank" class="font-bold">William Bailey</a> using the 
    
    <a href="https://astrofy-template.netlify.app/" target="_blank" class="italic">Astrofy Template</a> by <a href="https://manuelernestog.github.io" target="_blank" class="italic">Manuel Ernesto</a>⚡️
  </div>
</footer>
<style></style>
